$breakpoint_xxl: 1201px;
$breakpoint_xl: 1025px;
$breakpoint_md: 768px;
$breakpoint_sm: 577px;
$breakpoint_xs: 376px;

$color-marl: #723D46;
$color-graySilk: #C9CBA3;
$color-whiteNavajo: #FFE1A8;
$color-lightCarminePink: #47292e;
$color-darkBlackishPurple: #96535e;

$color-shadow-black:#000000b3;
$color-shadow-gray:#808080;